/output/
wandb
/.ipynb_checkpoints/
/notebooks/.ipynb_checkpoints/
/notebooks/models/
__pycache__
/models/
!/models/lidar-camera-paper/
!/models/lidar-camera-paper/*
/experiments/
/runs/
/temp/
/tmp/
/out/
slurm*
**/front_wide/*.png
.env
cache
**/tmp/**
**/vista_traces/**