/output/
wandb
/.ipynb_checkpoints/
/notebooks/.ipynb_checkpoints/
/notebooks/models/
__pycache__
/models/
!/models/lidar-camera-paper/
!/models/lidar-camera-paper/*
/experiments/
/runs/
/temp/
/tmp/
slurm*
**/front_wide/*.png
.env
cache